In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import warnings

In [41]:
df = pd.read_csv('Crop_Recommendation.csv')
df.head()

,Nitrogen,Phosphorus,Potassium,Temperature,Humidity,pH_Value,Rainfall,Crop
0,90,42,43,20.879744,82.002744,6.502985,202.935536,Rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,Rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,Rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,Rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,Rice

In [42]:
df.size

17600

In [43]:
df.tail()

,Nitrogen,Phosphorus,Potassium,Temperature,Humidity,pH_Value,Rainfall,Crop
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,Coffee
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,Coffee
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,Coffee
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,Coffee
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,Coffee

In [44]:
df.columns

Index(['Nitrogen', 'Phosphorus', 'Potassium', 'Temperature', 'Humidity',
       'pH_Value', 'Rainfall', 'Crop'],
      dtype='object')

In [45]:
df.columns = df.columns.str.strip()
df.columns

Index(['Nitrogen', 'Phosphorus', 'Potassium', 'Temperature', 'Humidity',
       'pH_Value', 'Rainfall', 'Crop'],
      dtype='object')

In [46]:
df['Crop'].unique()

array(['Rice', 'Maize', 'ChickPea', 'KidneyBeans', 'PigeonPeas',
       'MothBeans', 'MungBean', 'Blackgram', 'Lentil', 'Pomegranate',
       'Banana', 'Mango', 'Grapes', 'Watermelon', 'Muskmelon', 'Apple',
       'Orange', 'Papaya', 'Coconut', 'Cotton', 'Jute', 'Coffee'],
      dtype=object)

In [47]:
df.dtypes

Nitrogen         int64
Phosphorus       int64
Potassium        int64
Temperature    float64
Humidity       float64
pH_Value       float64
Rainfall       float64
Crop            object
dtype: object

In [48]:
df['Crop'].value_counts()

Crop
Rice           100
Maize          100
Jute           100
Cotton         100
Coconut        100
Papaya         100
Orange         100
Apple          100
Muskmelon      100
Watermelon     100
Grapes         100
Mango          100
Banana         100
Pomegranate    100
Lentil         100
Blackgram      100
MungBean       100
MothBeans      100
PigeonPeas     100
KidneyBeans    100
ChickPea       100
Coffee         100
Name: count, dtype: int64

In [49]:
features = df[['Nitrogen', 'Phosphorus', 'Potassium', 'Temperature', 'Humidity', 'pH_Value', 'Rainfall']]
labels = df['Crop']
target = df['Crop']

In [50]:
acc = []
model = []

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.3, random_state=42)

In [52]:
from sklearn.tree import DecisionTreeClassifier

DecisionTree = DecisionTreeClassifier(criterion='entropy', random_state=21, max_depth=7)
DecisionTree.fit(X_train, y_train)
y_pred = DecisionTree.predict(X_test)


x = metrics.accuracy_score(y_test, y_pred)
acc.append(x)
model.append('Decision Tree')
print("DecisionTrees's Accuracy is: ", x*100)



print(classification_report(y_test, y_pred))

DecisionTrees's Accuracy is:  98.18181818181819
              precision    recall  f1-score   support

       Apple       1.00      1.00      1.00        34
      Banana       1.00      1.00      1.00        26
   Blackgram       1.00      1.00      1.00        26
    ChickPea       1.00      1.00      1.00        34
     Coconut       1.00      1.00      1.00        33
      Coffee       1.00      1.00      1.00        30
      Cotton       1.00      1.00      1.00        28
      Grapes       1.00      1.00      1.00        23
        Jute       0.78      0.94      0.85        34
 KidneyBeans       1.00      1.00      1.00        36
      Lentil       0.96      1.00      0.98        22
       Maize       1.00      1.00      1.00        26
       Mango       1.00      1.00      1.00        32
   MothBeans       1.00      0.97      0.99        34
    MungBean       1.00      1.00      1.00        30
   Muskmelon       1.00      1.00      1.00        24
      Orange       1.00      1.00      1.00        25
      Papaya       1.00      1.00      1.00        37
  PigeonPeas       1.00      1.00      1.00        37
 Pomegranate       1.00      1.00      1.00        38
        Rice       0.90      0.68      0.78        28
  Watermelon       1.00      1.00      1.00        23

    accuracy                           0.98       660
   macro avg       0.98      0.98      0.98       660
weighted avg       0.98      0.98      0.98       660

In [22]:
from sklearn.model_selection import cross_val_score

In [23]:
score = cross_val_score(DecisionTree, features, target,cv=5)

In [24]:
score

array([0.98863636, 0.96136364, 0.98409091, 0.97954545, 0.96818182])

In [25]:
import pickle
# dump model
pickle.dump(DecisionTree, open('crop_recommendation_model.pkl', 'wb'))
# load model
# model = pickle.load(open('filename.pkl', 'rb'))
loaded_model = pickle.load(open('crop_recommendation_model.pkl', 'rb'))
result = loaded_model.score(X_test, y_test)
print(result*100)

98.18181818181819

In [26]:
X_train

,Nitrogen,Phosphorus,Potassium,Temperature,Humidity,pH_Value,Rainfall
1656,17,16,14,16.396243,92.181519,6.625539,102.944161
752,37,79,19,27.543848,69.347863,7.143943,69.408782
892,7,73,25,27.521856,63.132153,7.288057,45.208411
1041,101,70,48,25.360592,75.031933,6.012697,116.553145
1179,0,17,30,35.474783,47.972305,6.279134,97.790725
...,...,...,...,...,...,...,...
1638,10,5,5,21.213070,91.353492,7.817846,112.983436
1095,108,94,47,27.359116,84.546250,6.387431,90.812505
1130,11,36,31,27.920633,51.779659,6.475449,100.258567
1294,11,124,204,13.429886,80.066340,6.361141,71.400430
860,32,78,22,23.970814,62.355576,7.007038,53.409060